@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather+Sans:wght@700;800&display=swap');

// Fonts
$font-nav: 'Merriweather Sans', sans-serif;
$font-h1: 'Merriweather Sans', sans-serif;
$font-p: 'Karla', sans-serif;
$font-h3: 'Merriweather Sans', sans-serif;

// Colors

$nav-link: #161616;
$purple: #64003C;
$bg: #f6f6f6;