@import url("https://fonts.googleapis.com/css2?family=Karla&family=Merriweather+Sans:wght@700;800&display=swap");
html {
  font-size: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 20px 20px;
}

.nav-logo {
  width: 25%;
}

.nav-ul {
  min-width: 50%;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-li {
  display: inline-block;
  font-family: "Merriweather Sans", sans-serif;
  margin: auto;
}

.nav-link {
  text-decoration: none;
  color: #161616;
}

.actions {
  width: 25%;
  text-align: center;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart, .user {
  display: inline-block;
  margin: auto;
}

.hero {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-wrapper {
  padding: 110px 100px;
  width: 60%;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 32px;
}

.track-color {
  color: #64003C;
}

.hero-text {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
}

.hero-button {
  padding: 22px;
  width: 164px;
  font-size: 15px;
  color: #64003C;
  font-family: "Merriweather Sans", sans-serif;
  border: solid #64003C;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.20s ease-out;
  transition: 0.20s ease-out;
}

.hero-button:hover {
  background-color: #64003C;
  color: #f6f6f6;
}

.hero-pic {
  width: 40%;
}

@media (max-width: 768px) {
  .hero-pic {
    display: none;
  }
  .hero-wrapper {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero-wrapper {
    padding: 20px 20px;
  }
}

.filter-hp {
  padding: 80px 100px;
}

.filter-choice {
  display: inline-block;
  margin-right: 40px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  color: #161616;
  position: relative;
  line-height: 40px;
  cursor: pointer;
}

.filter-choice:after {
  content: '';
  position: absolute;
  width: 110%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #64003C;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.filter-choice:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.filter-dropdown-section {
  margin: 25px 25px 25px 0px;
}

.filter-dropdown {
  padding: 10px;
  font-family: "Merriweather Sans", sans-serif;
  margin-right: 20px;
  margin-bottom: 10px;
}

.filter-dropdown-selection {
  display: inline-block;
}

.table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1.5fr 1fr 1fr 1fr 2fr;
      grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 2fr;
}

.table-cell {
  padding: 20px;
  background-color: #f6f6f6;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-cell:last-child {
  border: none;
  border-bottom: 1px solid black;
}

.table-cell-child-h {
  margin: 0;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
}

.table-cell-child {
  margin: 0;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 13px;
}

.table-cell-child-button {
  padding: 10px;
  font-family: "Merriweather Sans", sans-serif;
}
/*# sourceMappingURL=main.css.map */