.filter-hp{
    padding: 80px 100px;
}

    .filter-choice {
        display: inline-block;
        margin-right: 40px;
        font-family: $font-h3;
        font-size: 18px;
        color: $nav-link;
        position: relative;
        line-height: 40px;
        cursor: pointer;
    }

    .filter-choice:after {
        content: '';
        position: absolute;
        width: 110%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $purple;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .filter-choice:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      
    .filter-dropdown-section{
      margin: 25px 25px 25px 0px;
    }    
      .filter-dropdown{
        padding: 10px;
        font-family: $font-h3;
        margin-right: 20px;
        margin-bottom: 10px;
      }
      
        .filter-dropdown-selection{
          display: inline-block;
        }
    
    .table {
      display: grid;
      grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 2fr;
    }
      .table-cell{
        padding: 20px;
        background-color: $bg;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .table-cell:last-child{
        border: none;
        border-bottom: 1px solid black;
      }

        .table-cell-child-h{
          margin: 0;
          text-align: center;
          font-family: $font-h3;
          font-size: 16px;
        }

        .table-cell-child{
          margin: 0;
          text-align: center;
          font-family: $font-h3;
          font-size: 13px;
        }
        .table-cell-child-button{
          padding: 10px;
          font-family: $font-h3;

        }



    