.hero{
    background: $bg;
    display: flex;
    align-items: center;
}

.hero-wrapper {
    padding: 110px 100px;
    width: 60%;
}
    h1 {
        font-family: $font-h1;
        font-weight: 800;
        font-size: 40px;
        margin-bottom: 32px;
    }

    .track-color{
        color: $purple;
    }

    .hero-text {
        font-family: $font-p;
        font-size: 20px;
        margin-bottom: 40px;
    }

    .hero-button {
        padding: 22px;
        width: 164px;
        font-size: 15px;
        color: $purple;
        font-family: $font-nav;
        border: solid $purple;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.20s ease-out;
    }
        .hero-button:hover{
            background-color: $purple;
            color: $bg;
        }

.hero-pic {
    width: 40%;
}

@include tablet{
    .hero-pic {
        display: none;
    }
    .hero-wrapper{
        width: 100%;
        text-align: center;
    }

}

@include mobile {
    .hero-wrapper{
        padding: 20px 20px;
    }
}